
.accordian_container {
    background:  linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: fit-content;
    
}
.accordian {
	width: fit-content;
    max-width: 96.5em; 
    height: auto;
	overflow: hidden;
	border: 5px grey;
    background-color: black;
	/*Time for some styling*/
	margin: 50px 8em;
    display: flex;
flex-direction: row;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
	-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
    
	width: 100em;
	/*This will give ample space to the last item to move
	instead of falling down/flickering during hovers.*/
}

.accordian li {
	position: relative;
	display: flex;
    flex-wrap: wrap;
	width: 16.021em;
	float: left;
	overflow: hidden;
	border-left: 1px solid #888;
    justify-content: center;
	
	box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
	
	/*Transitions to give animation effect*/
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	/*If you hover on the images now you should be able to 
	see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
    width:7.2em;
    
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
    width: 60em;
   display:flex;
   justify-content: center;
   margin: 0 auto;
}


.accordian img:hover {
    object-fit: cover;
    object-position: center;
}



.accordian li img {
	display: block;
    height: 600px;
}

/*Image title styles*/
.image_title {
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 0; bottom: 10px;	
width: 100%;	


}
.image_title a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 20px;
	font-size: 1.5em;
    word-wrap: break-word;
}

#galileo {
    display: none;
}



#ozzy {
    display: none;
}

#tyson {
    display: none;
    
}

#mat {
    display: none;
}

#ancient {
    display: none;
}

#anime {
    display: none;
}

.tysonbg:hover {
    background-image: url('../img/tysonbg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.galileobg:hover {
    background-image: url('../img/galileobg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.ozzybg:hover {
    background-image: url('../img/ozzybg.gif');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.matbg:hover {
    background-image: url('../img/matbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.gokubg:hover {
    background-image: url('../img/gokubg.gif');
    background-repeat: no-repeat;
    background-size: cover;

}

