* {
  font-family: 'Playfair Display', serif;
  padding: 0;
  margin: 0
}
@font-face {
  font-family: MangaBoldItalic-eY7g;
  src: url(../fonts/MangaBold-0rEo.ttf);
  src: url(../fonts/MangaBoldItalic-eY7g.ttf);
}


body {
  background-color: #000000;
}

h1 {
  width: 100%;
  color: white;
  height: 25vh;
  font-size: xx-large;
  line-height: justify;
  max-width: 350px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
 position: relative;
 top:37vh;
 left: 32.5%;
  
  background-color: transparent;
  z-index: 2;
}

button {
  background-color: black;
  border: 2px white solid;
  width: 250px;
  height: 60px;
  font-size: xx-large;
  padding: 5px;
  color: white;
}
.button_container {
  position: relative;
  top: 28vh;
  left: 36%;
  z-index: 2;
}

.container {
  margin: 0 5em;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
 

}


.crossfade>figure {
  animation: imageAnimation 30s linear infinite 0s;
  backface-visibility: hidden;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right center;
  color: transparent;
  height: 100%;
  right: 25%;
  opacity: 0;
  position: absolute;
  
  width: 100%;
  max-width: 600px;

 
}

.crossfade>figure:nth-child(1) {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 96%, rgba(255, 255, 255, 0) 100%), url('../img/Galileo.png');
}
.crossfade>figure:nth-child(2) {
  animation-delay: 6s;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 96%, rgba(255, 255, 255, 0) 100%), url('../img/ozzy.png');
  
}
.crossfade>figure:nth-child(3) {
  animation-delay: 12s;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 96%, rgba(255, 255, 255, 0) 100%), url('../img/Tyson.png');
  
}
.crossfade>figure:nth-child(4) {
  animation-delay: 18s;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 96%, rgba(255, 255, 255, 0) 100%), url('../img/matt and trey.png');
  
}
.crossfade>figure:nth-child(5) {
  animation-delay: 24s;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 96%, rgba(255, 255, 255, 0) 100%), url('../img/goku.png');
  
}

@keyframes imageAnimation {
  0% {
      animation-timing-function: ease-in;
      opacity: 0;
  }
  8% {
      animation-timing-function: ease-out;
      opacity: 1;
  }
  17% {
      opacity: 1
  }
  25% {
      opacity: 0
  }
  100% {
      opacity: 0
  }
}


header {
  font-weight: bolder;
  text-align: center;
  font-size: 2.5em;
  color: white;
}


aside {


  width: 200px;
  height: auto;
  min-height: 50px;

  display: flex;
  justify-content: center;
  margin: 20px auto;

  text-align: center;
  padding: 20px 0;
}

content {
  display: flex;
  justify-content: center;
  height: auto;


  text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;

}

.galileocontentbg {
  background-image: url(../img/galileocontentbg.png);
  overflow: hidden;
}

.ozzycontentbg {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, .75) 20%,rgba(0, 0, 0, .75) 80%, rgba(255, 255, 255, 0) 100%), url(../img/ozzy-stage.jpg);
  overflow: hidden;
  color: #E20613;
  text-shadow: 2px 0px 0 #000000, 2px 0 0 #000000;

}

h2 {
  padding: 10px 0 0 5em;
  font-weight: bolder;
}

#galileoquote {
  border: 4px #A16014 outset;
  background-color: #330A01;
  color: #E2BA5F;
}

#ozzyquote {
  border: 4px #795192 outset;
  background-color: #2D2D6E;
  color: #80A8CC;
  font-size: large;

}

article {
  font-size: large;
  font-weight: bold;
  width: fit-content;
  text-align: left;
  padding-left: 8em;
  padding-right: 8em;
}

.galileobutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #A16014 outset;
  background-color: #330A01;
  color: #E2BA5F;

}
.ozzybutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #795192 outset;
  background-color: #2D2D6E;
  color: #80A8CC;

}

content header {
  color: #000000
}

button a {
  text-decoration: none;
  color: inherit;
}
.ozzyheader {
  font-family: 'Cinzel', serif;
}
.ozzycontentbg h2 {
  font-family: 'Cinzel', serif;
  font-weight: 600;

}
.ozzycontentbg article {
  font-weight: 300;
  font-family: 'Cinzel', serif;

}
.ozzylogo {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
}

.tysoncontentbg {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 20) 50%, rgba(255, 255, 255, 0) 100%), url(../img/tysoncontentbg.png);
  color: #fff;
  overflow: hidden;

}

.tysoncontentbg h2 {
  font-family: helvetica, arial;
}
.tysoncontentbg article {
  font-family: helvetica, arial;
}
#tysonquote {
  border: 4px #E3584D outset;
  background-color: #061826;
  color: #fff;
  font-size: large;
  font-family: helvetica, arial;
}

.tysonbutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #E3584D outset;
  background-color: #061826;
  color: #fff;
  font-family: helvetica, arial;
  
}

.tysonheader {
  color: #fff;
  font-family: "bungee shade", helvetica, arial;
  font-size: 2em;
  
}

.matcontentbg {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, .7) 80%, rgba(255, 255, 255, 0) 100%), url(../img/matcontentbg.gif);
  font-family: Montserrat;
  overflow: hidden;
}

.matheader {
  font-family: Montserrat;
  font-weight: bold;
}
.matcontentbg h2 {
  font-family: Montserrat;
}

.matcontentbg article {
  font-family: Montserrat;
}

#matquote {
  border: 4px #D65215 outset;
  background-color: #117D28;
  color: #F8D7AE;
  font-size: large;
  font-family: Montserrat;
}

.matbutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #B20E2C outset;
  background-color: #399297;
  color: #D6BB06;
  font-family: Montserrat;
}


.ancientcolor:hover {
  width: 100em;
  opacity: 0;

}

article ul li {
  font-family: cinzel;
  margin-left: 60px;
}

.ancientcolorbg:hover {
  background-image: url(../img/ancientcolor.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

.ancientcontentbg {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .7) 20%, rgba(255, 255, 255, .7) 80%, rgba(255, 255, 255, 0) 100%), url(../img/ancientcontentbg.jpg);

  overflow: hidden;
}

.ancientheader {
  font-family: 'Cinzel', serif;
}
.ancientcontentbg h2 {
  font-family: 'Cinzel', serif;
}

.ancientcontentbg article {
  font-family: 'Cinzel', serif;
}

#ancientquote {
  border: 4px #2B2017 outset;
  background-color: #C9B7A1;
  color: #2B2017;
  font-size: large;
  font-family: 'Cinzel', serif;
}

.ancientbutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #2B2017 outset;
  background-color: #C9B7A1;
  color: #2B2017;

  font-family: 'Cinzel', serif;
}

.animeheader {
  font-family: MangaBoldItalic-eY7g;
  font-size: 7rem;
  letter-spacing: .5px;
}

.animecontentbg {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .75) 15%, rgba(255, 255, 255, .75) 85%, rgba(255, 255, 255, 0) 100%), url(../img/animecontentbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Montserrat;
  
}
.animecontentbg h2 {
  font-family: MangaBoldItalic-eY7g;
  font-size: 2.5em;
  margin: 0 auto !important;
  padding-top: 20px;
  padding-left: 0px;

  text-align: center;

}

.animecontentbg article {
  font-family: MangaBoldItalic-eY7g;
  font-size: 1.5em;
}

#animequote {
  border: 4px #2B2017 outset;
  background-color: #C9B7A1;
  color: #2B2017;
  font-size: 1.5em;
  font-family: MangaBoldItalic-eY7g;
  width: 15em;
}

.animebutton {
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto;
  border: 4px #2B2017 outset;
  background-color: #C9B7A1;
  color: #2B2017;

  font-family: MangaBoldItalic-eY7g;
}
.accordian_container {
  background:  linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
 flex-direction: row;
}
.accordian {
width: fit-content;
  max-width: 96.5em; 
  height: auto;
overflow: hidden;
border: 5px grey;
  background-color: black;
/*Time for some styling*/
margin: 50px 8em;
  display: flex;
flex-direction: row;
box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
-webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
-moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

/*A small hack to prevent flickering on some browsers*/
.accordian ul {
  display: flex;
  flex-wrap: wrap;
  

/*This will give ample space to the last item to move
instead of falling down/flickering during hovers.*/
}

.accordian li {
position: relative;
display: flex;
  flex-wrap: wrap;
  flex-grow: inherit;
width: 16.021em;
float: left;
overflow: hidden;
border-left: 1px solid #888;
  justify-content: center;

box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);

/*Transitions to give animation effect*/
transition: all 0.5s;
-webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
/*If you hover on the images now you should be able to 
see the basic accordian*/
}

/*Reduce with of un-hovered elements*/
.accordian ul:hover li {
  width:7.2em;
  
}

/*Lets apply hover effects now*/
/*The LI hover style should override the UL hover style*/
.accordian ul li:hover {
  width: 60em;
 display:flex;
 justify-content: center;
 margin: 0 auto;
}


.accordian img:hover {
  object-fit: cover;
  object-position: center;
}



.accordian li img {
display: block;
  height: 600px;
}

/*Image title styles*/
.image_title {
background: rgba(0, 0, 0, 0.5);
position: absolute;
left: 0; bottom: 10px;	
width: 100%;	


}
.image_title a {
display: block;
color: #fff;
text-decoration: none;
padding: 20px;
font-size: 1.5em;
  word-wrap: break-word;
}

#galileo {
  display: none;
}



#ozzy {
  display: none;
}

#tyson {
  display: none;
  
}

#mat {
  display: none;
}

#ancient {
  display: none;
}

#anime {
  display: none;
}

.tysonbg:hover {
  background-image: url('../img/tysonbg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.galileobg:hover {
  background-image: url('../img/galileobg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.ozzybg:hover {
  background-image: url('../img/ozzybg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.matbg:hover {
  background-image: url('../img/matbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
.gokubg:hover {
  background-image: url('../img/gokubg.gif');
  background-repeat: no-repeat;
  background-size: cover;

}

.videotable {
  width: fit-content;
  margin: 25px;
  margin: 0 5em;
}
.videotable td {
  width: auto;
  height: 20rem;
  padding-bottom: 20px;
}


.videotable td figcaption {
  height: 2rem;
  font-weight: 700;
  font-family: MangaBoldItalic-eY7g;

  margin: 0 60px;
  font-size: 1.25em;
  vertical-align: top;
}
.videotable embed {
  width: 400px;
  height: 250px;
}

.tysoncontentbg figure {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}
.tysoncontentbg embed {
  width: 100%;
  height: 50vh;
}

.tysoncontentbg figcaption {
  height: 2rem;
  font-weight: 700;
  font-family: helvetica, arial;
text-align: center;
  margin: 0 60px;
  font-size: 1.25em;
  vertical-align: top;
}

.ozzycontentbg figure {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
}
.ozzycontentbg embed {
  width: 100%;
  height: 50vh;
}

.ozzycontentbg figcaption {
  height: 2rem;
  font-weight: 700;
  font-family: helvetica, arial;
  text-align: center;
  margin: 0 60px;
  font-size: 1.25em;
  vertical-align: top;
}